/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

/* Root Variables */
:root {
  /* Colors */
  --color-lime: hsl(61, 70%, 52%);
  --color-red: hsl(4, 69%, 50%);
  --color-white: hsl(0, 0%, 100%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-900: hsl(202, 55%, 16%);

  /* Font Settings */
  --font-family: "Plus Jakarta Sans", sans-serif;
  --font-size: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 2rem;
  --font-weight-500: 500;
  --font-weight-700: 700;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Body Styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--color-slate-100);
  padding: 20px;
}

/* Main Container Styles */
main {
  font-family: var(--font-family);
  font-size: var(--font-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
  min-width: 300px;
  width: 100%;
  background-color: var(--color-white);
}

/* Form Section Styles */
.form-section {
  padding: 30px 20px;
}

main form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  color: var(--color-slate-900);
}

main form .form-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.number-label,
.form-part p {
  font-weight: var(--font-weight-500);
  color: var(--color-slate-500);
}

/* Input Styles */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

main form input[type="number"],
input[type="text"] {
  padding: 15px;
  border: 1px solid var(--color-slate-300);
  border-radius: 5px;
  font-size: var(--font-size);
}

main form input[type="number"]:hover,
input[type="text"]:hover {
  border-color: var(--color-slate-900);
}

.mortgage-input-group,
.mortgage-term-group,
.interest-rate-group {
  position: relative;
}

.mortgage-term-group,
.interest-rate-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.currency-symbol {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-slate-500);
  z-index: 1;
  user-select: none;
}

.years-symbol,
.percent-symbol {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-slate-500);
  z-index: 1;
  user-select: none;
}

.years-symbol {
  right: 0;
}
.percent-symbol {
  right: 5px;
}

#mortgage-amount {
  width: 100%;
  padding-left: 50px;
}

#mortgage-amount:focus {
  border: 1px solid var(--color-lime);
  border-left: 49px solid var(--color-lime);
  outline: none;
}

main form input[type="number"]::placeholder {
  color: var(--color-slate-500);
}

/* Radio Button Styles */
.radio-element {
  border: 1px solid var(--color-slate-300);
  border-radius: 5px;
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}

.radio-element:hover {
  border-color: var(--color-lime);
}

.radio-element:active {
  border-color: var(--color-lime);
  background-color: hsla(61, 76%, 76%, 0.918);
}

.radio-element label {
  width: 100%;
  font-weight: var(--font-weight-700);
  color: var(--color-slate-900);
}

input[type="radio"]:checked {
  accent-color: var(--color-lime);
}

/* Button Styles */
button[type="reset"] {
  align-self: flex-start;
  background: none;
  cursor: pointer;
  border: none;
  color: var(--color-slate-300);
  font: inherit;
  border-bottom: 1px solid var(--color-slate-300);
}

button[type="reset"]:hover {
  color: var(--color-slate-900);
}

button[type="submit"] {
  background-color: var(--color-lime);
  color: var(--color-slate-900);
  padding: 15px;
  border: none;
  border-radius: 35px;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

button[type="submit"]:hover {
  background-color: hsla(61, 76%, 76%, 0.918);
}

/* Result Section Styles */
.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  gap: 20px;
  background-color: var(--color-slate-700);
  color: var(--color-slate-300);
}

.result-section h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-700);
  color: var(--color-slate-100);
}

.result {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: left;
}

.result-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: var(--color-slate-900);
  border-radius: 10px;
  color: var(--color-slate-300);
  border-top: 4px solid var(--color-lime);
}

.result-card hr {
  border: none;
  height: 1px;
  background-color: var(--color-slate-700);
  opacity: 0.5;
}

#monthly-repayments {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-700);
  color: var(--color-lime);
}

#repay-over-the-term {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-500);
  color: var(--color-slate-100);
}

.disactive {
  display: none;
}

.error {
  color: var(--color-red) !important;
  font-size: 0.7rem;
  font-weight: var(--font-weight-400);
}

.input-error-mortgage {
  border: 1px solid var(--color-red) !important;
  border-left: 49px solid var(--color-red) !important;
}

.input-error-term {
  border: 1px solid var(--color-red) !important;
  border-right: 80px solid var(--color-red) !important;
}

.input-error-rate {
  border: 1px solid var(--color-red) !important;
  border-right: 50px solid var(--color-red) !important;
}

/* Media Queries for Responsiveness (Tablet and Desktop) */
@media (min-width: 768px) {
  /* Main Container Adjustments */
  main {
    flex-direction: row;
    max-width: 900px;
    min-width: 600px;
    border-radius: 25px;
  }

  /* Section Width Adjustments */
  .form-section {
    width: 50%;
    padding: 30px 40px;
  }

  .result-section {
    width: 50%;
    padding: 30px 20px;
    justify-content: flex-start;
    border-radius: 0 25px 25px 75px;
  }

  /* Form Grid Layout */
  main form {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }

  #form-header {
    flex-direction: row;
    justify-content: space-between;
  }

  #form-header button {
    margin-top: 5px;
  }

  .form-part {
    grid-column: 1 / -1;
    grid-auto-flow: column;
  }

  .grid-1 {
    width: 100%;
    grid-column: 1 / 2;
  }

  .grid-2 {
    width: 100%;
    grid-column: 2 / -1;
  }

  button[type="submit"] {
    grid-column: 1/-1;
    width: 85%;
  }

  /* Result Section Adjustments */
  .result {
    gap: 40px;
  }

  .result-card {
    gap: 20px;
  }

  .before-result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: auto 0;
  }

  /* Result Text Size Adjustments */
  #monthly-repayments {
    font-size: 3rem;
  }
  #repay-over-the-term {
    font-size: 1.5rem;
  }
}
